@tailwind base;
@tailwind components;
@tailwind utilities;

/* Colores principales de la aplicación */
.color-1 {
	color: #4cae4f;
}
.color-2 {
	color: #80c684;
}
.color-3 {
	color: #a4d5a6;
}
.color-4 {
	color: #c7e5c8;
}
.color-5 {
	color: #eaf6eb;
}

:root {
	--color-1: #4cae4f;
	--color-2: #80c684;
	--color-3: #a4d5a6;
	--color-4: #c7e5c8;
	--color-5: #eaf6eb;
}

body {
	font-family: 'Poppins', ui-sans-serif, system-ui, sans-serif;
}