@tailwind base;
@tailwind components;
@tailwind utilities;

/* Colores principales de la aplicación */
.color-1 {
	color: #1e4a21;
}
.color-2 {
	color: #2d5f30;
}
.color-3 {
	color: #4cae4f;
}
.color-4 {
	color: #80c684;
}
.color-5 {
	color: #a4d5a6;
}

:root {
	--color-1: #1e4a21; /* Verde oscuro para header */
	--color-2: #2f7442; /* Verde oscuro hover */
	--color-3: #4cae4f; /* Verde medio para logo */
	--color-4: #80c684; /* Verde claro */
	--color-5: #a4d5a6; /* Verde muy claro */
	--color-6: #343A40; /* Texts color */
	--color-7: #F2B705; /* Verde oscuro para header */
	--bg-color: #f2fbf2; /* Color de fondo general */
}

body {
	font-family: 'Poppins', ui-sans-serif, system-ui, sans-serif;
	background-color: var(--bg-color);
	color: var(--color-6);
}